@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap');

/*--------Home-page--------*/
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Harmattan', sans-serif;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    padding: 20px 0
}

body::-webkit-scrollbar-thumb {
    background: #b3b8bd;
    border-radius: 30px;
}

body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 3px;
}

input,
a,
button,
select,
.form-control:focus {
    outline: none !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

section {
    margin: 3.5rem 0;
    overflow: hidden;
    padding: 2rem 0;
}

.title {
    color: #2B294E;
    width: fit-content;
    margin-bottom: 3rem;
    font-size: 44px;
}

.title.white {
    color: white;
    margin-bottom: 2rem;
}

.page {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    overflow: hidden;
}

/* side-nav */
.navbar-toggler {
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 32px;
    position: absolute;
    bottom: 0%;
    left: 5%;
    height: 32px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.sidenav {
    height: 100%;
    width: 100%;
    margin-right: -100%;
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    background-image: url('../img/menu-bg.png');
    background-position: top right;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 4vh;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidenav>* {
    width: 100%;
}

.sidenav .close-btn {
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 32px;
    position: absolute;
    top: 46%;
    left: 5%;
    height: 32px;
    cursor: pointer;
}

.sidenav .links {
    margin-top: 40px;
}

.sidenav .menu-body .links a {
    text-decoration: none;
    font-weight: 500;
    color: white;
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    font-size: 31px;
    margin-right: 20px;
}



/* intro-section */
header {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 50%;
    z-index: 99;
    padding-top: 20px;
}

header .container-xl {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}

.navbar-brand img {
    width: 70px;
}


.sticky-navbar {
    position: fixed !important;
    top: -82px !important;
    transform: translateY(82px);
    -webkit-transform: translateY(82px);
    -moz-transform: translateY(82px);
    -ms-transform: translateY(82px);
    -o-transform: translateY(82px);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    width: 100% !important;
}

.navbar-brand {
    margin-left: 0;
    padding: 0;
    width: fit-content;
}

.white-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 23px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: fit-content;
    font-size: 20px;
    box-shadow: 0 0 17px 2px #ffffff26;
}

.pattern {
    position: relative;
}

.pattern img {
    position: absolute;
    top: 20px;
    right: -29px;
}

.white-btn:hover {
    color: white;
    text-shadow: 0 5px 8px #ffffff26;
}



/******** cover *******/
.cover {
    width: 100vw;
    height: 100vh;
}

.cover video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.brief {
    position: absolute;
    top: 50%;
    width: 90%;
    color: #E5E5E5;
    margin: 0 5%;
}

.brief p {
    font-size: 20px;
    margin-top: 10px;
}




/********* about **********/
.about {
    background-image: url('../img/darkblue.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: top right;
    background-size: 97%;
    height: 100vh;
    padding: 2rem;
    padding: 120px 0 0;
}

.about .row {
    align-items: center;
}

.about p {
    font-size: 22px;
    margin-top: 10px;
    color: #E5E5E5;
}

.about img.main-img {
    height: calc(100vh - 174px);
    width: 400px;
    object-fit: cover;
    border-width: 9px 0 0 9px;
    border-style: solid;
    border-color: #ffffff38;
    box-shadow: 0 0 12px 3px #2b294e61;
    z-index: 9;
}

.about-imgs {
    position: relative;
    display: flex;
    justify-content: center;
}

.about-imgs .small-img {
    position: absolute;
    animation: drop 3s ease forwards;
}

.about-imgs .small-img:first-of-type {
    right: 9px;
    top: 100px;
    z-index: 99;
}

.about-imgs .small-img:last-of-type {
    top: -288px;
    left: 0;
    z-index: 0;
}

@keyframes drop {
    0% {
        opacity: 0
    }

    100% {
        transform: translateY(256px)
    }
}




/******* services ********/
.services {
    background-image: url('../img/services-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.services img {
    width: 93%;
}

.services .row:first-of-type {
    align-items: center;
}

.services ul li {
    font-size: 24px;
}



/******* partners *****/
.partners {
    padding: 1rem 0;
    margin: 6.5rem 0;
}

.partners-brief {
    background-color: #2B294E;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.partners .partners-brief .row {
    justify-content: center;
}

.floated {
    position: absolute;
    right: -16px;
    width: 179px;
}

.partners .partners-brief p {
    font-size: 22px;
    margin-top: 10px;
    color: #E5E5E5;
}

.partners-carousel {
    border-top: 13px solid #EBFF00;
    border-bottom: 13px solid #EBFF00;
    padding: 10px;
    cursor: pointer;
}

.owl-carousel .owl-item img {
    display: block;
    max-width: 200px;
    width: fit-content;
    height: 70px;
    object-fit: contain;
    filter: grayscale(1);
    transition: 0.5s all;
}

.owl-carousel .owl-item img:hover {
    filter: grayscale(0);
    transition: 0.5s all;
}



/********* Contact Us **********/
section#contact {
    background-image: linear-gradient(45deg, rgba(18, 59, 99, 50%), rgba(177, 13, 15, 50%)), url(../img/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

#contact .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    width: 40%;
    background-color: transparent;
    margin: 2rem 1rem 1rem;
    padding: 1rem;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    text-align: right;
    width: 80%;
    margin: auto;
    color: #989898;
    border: none;
    border-radius: 0;
}

.contact-form button,
.btn-primary {
    text-align: center;
    width: 80%;
    margin: auto;
    color: white;
    border: none;
    border-radius: 0;
    background-image: linear-gradient(45deg, #B10D0F, #6B0D0E, #121F63, #040C34);
    font-size: larger;
    padding: 0.3rem;
}








/******** footer *********/
footer {
    background-color: black;
    width: 93%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    padding-top: 6px;
    position: fixed;
    right: 3.5%;
    bottom: 0;
    z-index: 999;
}

.copyright {
    display: flex;
    gap: 7px;
    font-size: 19px;
    height: fit-content;
}

.social-links .list-unstyled li {
    margin: 4px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links .list-unstyled {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.social-links .list-unstyled a i {
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px;
}













/* media-style */
@media screen and (min-width:1441px) {
    .about img.main-img {
        height: calc(100vh - 400px);
        width: 87%;
    }

    .navbar-brand img {
        width: 100px;
    }

    .sidenav .close-btn,
    .navbar-toggler {
        width: 41px;
        height: 41px;
    }

    .white-btn {
        padding: 9px 33px;
        border: 2px solid white;
        font-size: 30px;
    }

    .pattern img {
        top: 29px;
        right: -29px;
    }

    .services img {
        width: 100%;
    }

    .title {
        font-size: 65px;
    }

    .services ul li {
        font-size: 40px;
    }

    .sidenav .links {
        margin-top: 20vh;
    }

    .sidenav .menu-body .links a {
        font-size: 50px;
    }

    .partners-brief {
        padding: 2.5rem;
    }

    .owl-carousel .owl-item img {
        max-width: 300px;
        height: 90px;
    }

    .partners .partners-brief p {
        font-size: 28px;
    }

    .floated {
        width: 191px;
    }

    .about {
        padding: 200px 0 0;
    }

    .about p {
        font-size: 28px;
    }

    .about-imgs .small-img:first-of-type {
        right: -22px;
        top: 356px;
    }

    .about-imgs .small-img:last-of-type {
        top: -288px;
        left: 0;
        z-index: 0;
    }

    @keyframes drop {
        0% {
            opacity: 0
        }

        100% {
            transform: translateY(256px)
        }
    }

}

@media screen and (max-width:1440px) {
    .brief {
        top: 44%;
    }

    .about-imgs .small-img:last-of-type {
        top: -288px;
        left: 84px;
    }

    .about-imgs .small-img:first-of-type {
        right: 54px;
        top: 74px;
    }
}

@media screen and (max-width:1200px) {
    .about-imgs .small-img:first-of-type {
        right: 10px;
        top: 11px;
    }

    .about img.main-img {
        height: calc(100vh - 200px);
        width: 333px;
    }

    .about-imgs .small-img:last-of-type {
        top: -288px;
        left: 42px;
    }

    .floated {
        width: 138px;
    }
}


@media screen and (max-width: 1025px) {
    .brief {
        top: 41%;
    }
}

@media screen and (max-width: 993px) {
    .about {
        margin-left: 1rem;
        background-size: cover;
    }

    .about-imgs .small-img:first-of-type {
        right: -38px;
        top: 31px;
        width: 100px;
    }

    .about-imgs .small-img:last-of-type {
        top: -279px;
        left: -11px;
        width: 96px;
    }

    .services img {
        width: 30%;
    }

    .services {
        background-size: cover;
        margin: 3.5rem 1rem;
        border-radius: 26px;
    }

    .floated {
        width: 184px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 1rem 0;
    }

    .about p {
        font-size: 18px;
    }

    .navbar-brand img {
        width: 60px;
    }

    .white-btn {
        padding: 5px 20px;
        font-size: 18px;
    }

    .pattern img {
        width: 40px;
        top: 17px;
    }

    .about {
        height: 103vh;
        margin-bottom: 20vh;
    }

    .about img.w-75 {
        width: 60% !important;
    }

    .partners-brief {
        background-color: white;
    }

    .partners .partners-brief .row {
        padding: 20px 0;
    }

    .partners .container {
        background-color: #2B294E;
    }

    .partners-brief {
        padding: 0;
    }
    .partners {
        padding: 1rem 0;
        margin: 6.5rem 0 3rem;
    }
    .floated {
        width: 129px;
        object-fit: cover;
        object-position: right;
        position: relative;
        height: 150px;
    }
    .owl-carousel .owl-item img {
        max-width: 188px;
        height: 38px;
    }

    .about-imgs {
        margin-top: 2rem;
    }

    .about-imgs .small-img:first-of-type {
        right: 54px;
    }

    .about-imgs .small-img:last-of-type {
        left: 66px;
    }
}

@media screen and (max-width: 600px) {}


@media screen and (max-width: 576px) {
    .services {
        padding: 2rem;
    }    
    .about{
        padding: 120px 24px 0 24px;
    }
    .about img.main-img {
        height: 324px;
        width: 300px;
    }
    .about-imgs .small-img:last-of-type {
        left: 30px;
    }
    .services img {
        width: 50%;
    }
    .partners .partners-brief p {
        font-size: 20px;
    }
    .owl-carousel .owl-item img {
        max-width: 168px;
        height: 37px;
    }
    .partners {
        padding: 1rem 0;
        margin: 5.5rem 0 4rem;
    }
.title {
    margin-bottom: 1rem;
    font-size: 41px;
}
    .about-imgs .small-img:first-of-type {
        right: 1px;
        top: -22px;
    }
    footer {
        width: 100%;
        right: 0;
    }

    footer .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .brief {
        top: 30%;
    }

    .navbar-toggler {
        bottom: unset;
        left: 8%;
    }

    header {
        height: fit-content;
    }

    .copyright {
        justify-content: center;
        font-size: 17px;
    }

    .social-links .list-unstyled {
        width: 68%;
        margin: auto;
    }

    .social-links .list-unstyled li a {
        font-size: 14px;
    }

    .brief p {
        margin: 18px auto;
        text-align: center;
        width: 83%;
    }
}



@media screen and (max-width: 480px) {}



@media screen and (max-width: 400px) {
    header .container-fluid {
        width: 100%;
    }

    .brief p {
        width: 100%;
    }
}


@media screen and (max-width: 300px) {}

@media screen and (max-width:270px) {}